# Global rule for the whole codebase. Every PR needs to be reviewed by at least one permanent team member.
# When a new PR arrives, GitHub auto reviewer assignment feature will be triggered, which will then pick 
# members from the iOS-Dev team
* @babylonhealth/ios-devs
